{% extends 'base.html' %}
{% block main %}

<h1 class="profile-title"> {{ administrator.id }}'s Profile</h1>

<!-- Add a link to view reported ratings -->
<a href="{{ url_for('reported_ratings') }}" class="btn">View Reported Ratings</a>

<!-- Display list of reported ratings -->
{% if administrator.reported_ratings|length > 0 %}
    <h2>Reported Ratings:</h2>
    <ul>
        {% for report in administrator.reported_ratings %}
            <li>
                <strong>Rating ID:</strong> {{ report.rating.id }}<br>
                <strong>Reporter ID:</strong> {{ report.reporter_id }}<br>
                <strong>Description:</strong> {{ report.description }}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No reported ratings yet.</p>
{% endif %}


{% endblock %}
