<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"  type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <title>{{ title }}</title>
</head>
   
<section>
    <div class='air air1'></div>
    <div class='air air2'></div>
    <div class="top-bar">
        <div id="head-img"></div>
        {% if current_user.is_authenticated %}
            <div class="profile-link">
                <a href="/users/{{ current_user.id }}" class="btn">My Profile</a>
                <a href="/users/search" class="btn">Search</a>
                <a href="/users/signout" class="btn">Sign Out</a>
            </div>
        {% endif %}
    </div>
        
        {% block main %}
        {% endblock %}
    </body>
    <div class='air air3'></div>
    <div class='air air4'></div>
</section> 
</html>
