{% extends 'base.html' %}
{% block main %}

<h1>Rate Student: {{ student.full_name }}</h1>

<form action="{{ url_for('rate_student', student_id=student.id) }}" method="POST">
    {{ form.hidden_tag() }}

    <div>
        {{ form.rating_participation.label }}
        {% for subfield in form.rating_participation %}
            <label class="radio-inline">{{ subfield }} {{ subfield.label.text }}</label>
        {% endfor %}
    </div>

    <div>
        {{ form.rating_communication.label }}
        {% for subfield in form.rating_communication %}
            <label class="radio-inline">{{ subfield }} {{ subfield.label.text }}</label>
        {% endfor %}
    </div>

    <div>
        {{ form.rating_skill.label }}
        {% for subfield in form.rating_skill %}
            <label class="radio-inline">{{ subfield }} {{ subfield.label.text }}</label>
        {% endfor %}
    </div>

    <div>
        {{ form.description.label }}
        {{ form.description }}
    </div>

    <div>
        {{ form.submit }}
    </div>
</form>

{% endblock %}
