{% extends 'base.html' %}

{% block main %}
<div id="search-bar-container">
    <form action="/search" method="get">
        <input type="text" id="search-input" name="query" placeholder="Enter search term...">
    </form>
    <div id="suggestions-container"></div>
</div>

<script>

document.getElementById('search-input').addEventListener('input', function() {
    var searchQuery = this.value;
    var suggestionsContainer = document.getElementById('suggestions-container');

    if (searchQuery.length === 0) {
        suggestionsContainer.style.display = 'none';
    } else {
        fetch('/search-suggestions?q=' + encodeURIComponent(searchQuery))
            .then(response => response.json())
            .then(suggestions => {
                suggestionsContainer.innerHTML = '';
                suggestions.forEach(function(suggestion) {
                    var div = document.createElement('div');
                    div.innerText = suggestion.name;  // 'name' is a property of the suggestion object
                    div.addEventListener('click', function() {
                        window.location.href = '/users/' + suggestion.id;  // 'id' is a property
                    });
                    suggestionsContainer.appendChild(div);
                });
                if (suggestions.length > 0) {
                    suggestionsContainer.style.display = 'block';
                }
            });
    }
});


</script>
{% endblock %}
