{% extends 'base.html' %}
{% block main %}
<div class="card-fit">
        <form action="" method="POST" novalidate>
            {{ form.hidden_tag() }}
            <p> Username: <br> {{ form.id }}</p>
            <p> Full Name: <br> {{ form.full_name }}</p>
            <p> Email Address: <br> {{ form.email }}</p>
            <p> Password: <br> {{ form.password }}</p>
            <p> Confirm Password: <br> {{ form.password_confirm }}</p>
            <label for="{{ form.professor_check.id }}">Are you a professor?</label>
            {{form.professor_check}}
            <p>(leave box unchecked if you are a student)</p>
            <input type="submit" class="btn" value="Submit">
            <p></p>
        </form>
    </div>
{% endblock %}