{% extends 'base.html' %}
{% block main %}
<div class="card">
        <form action="" method="POST" novalidate>
            {{ form.hidden_tag() }}
            <p> Username: <br> {{ form.id }}</p>
            <p> Full Name: <br> {{ form.full_name }}</p>
            <p> Email Address: <br> {{ form.email }}</p>
            <p> Password: <br> {{ form.password }}</p>
            <p> Confirm Password: <br> {{ form.password_confirm }}</p>
            <input type="submit" value="Submit">
        </form>
    </div>
{% endblock %}