{% extends 'base.html' %}
{% block main %}
<div class="card">
    
    <!-- Calculate and display student average rating -->
    <div class="card-centered">
    <h1 class="profile-title"> {{ student.full_name }}'s Profile</h1>
{% if student.ratings|length > 0 %}
    <tr>
        <th>Average Rating: {{ averagerating }}</th>   
    </tr>
{% else %}
<tr>
        <th>No ratings yet</th>
    </tr>
    {% endif %}
    <div class="rating-progress">
        <div class="progress-bar" style="width: {{ averagerating / 5 * 100 }}%;"></div>
    </div>
    
    <p>
        <!-- Add button to rate this student -->
        <a href="/rate_student/{{ student.id }}" class="btn">Rate Student</a>
    </p>
    <!-- Conditional button for professors -->
    {% if current_user.type == 'professor' %}
    <div>
        <a href="/recommend/{{ student.id }}" class="btn">Recommend this Student</a>
    </div>
    {% endif %}
</div>

<!-- Display professor recommendations -->
<div class="card">
    <strong>Recommended by professors: </strong>
        {% for recommendation in student.recommendations %}
            <a href="/users/{{ recommendation.professor_recommendations.id }}" class="btn2">{{ recommendation.professor_recommendations.full_name }}</a>
        {% endfor %}
</div>


<!-- Display user ratings -->
{% for rating in student.ratings %}
<div class="card-rating">
    <div class="card">
        <div class="rating-details">
            <p><strong>Overall Rating:</strong> {{ rating.rating_overall }}</p>
            <p><strong>Participation Rating:</strong> {{ rating.rating_participation }}</p>
            <p><strong>Skill Rating:</strong> {{ rating.rating_skill }}</p>
            <p><strong>Communication Rating:</strong> {{ rating.rating_communication }}</p>
        </div>
    </div>
    <div class="rating-description">
        <p><strong>Description:</strong> {{ rating.description }}</p>
    </div>
    <form action="/report_rating/{{ rating.id }}" method="post" class="report-form">
        <button type="submit" class="btn2">Report Rating</button>
    </form>
</div>
{% endfor %}
</div>
{% endblock %}
