{% extends 'base.html' %}
{% block main %}

<h1 class="profile-title"> {{ student.id }}'s Profile</h1>

<!-- Calculate and display student average rating -->
{% if student.ratings|length > 0 %}
    <tr>
        <th>Average Rating: {{ averagerating }}</th>   
    </tr>
{% else %}
    <tr>
        <th>No ratings yet</th>
    </tr>
{% endif %}

<p>
<!-- Display user ratings -->
{% for rating in student.ratings %}
    <tr class="{{ 'even_row' if loop.index % 2 == 0 else 'odd_row' }}">
        <td>
            Overall Rating: 
            {{ rating.rating_overall }}
        </td>
        <br>
        <td>
             Description:
             {{ rating.description }}
        </td>
        <td>     
            <button type="button">Report</button>
        </td>
    </tr>
    <p></p>
{% endfor %}

<!-- Add button to rate this student -->
<a href="/rate_student/{{ student.id }}" class="button">Rate Student</a>
</p>
{% endblock %}
